:root {
  --main-background: #f4f6f9;
  --nav-color: rgba(0, 0, 0, 0.5);
  --text-color: #212529;
  --nav-hover: rgba(0, 0, 0, 0.7);
  --sidebar: #343a40;
  --sidebar-text: #c2c7d0;
  --sidebar-border: #4f5962;
  --primary: #007bff;
  --primary-hover: #0069d9;
  --secondary: #6c757d;
  --info: #17a2b8;
  --info-hover: #138496;
  --delete: #dc3545;
  --delete-hover: #c82333;
  --input-border: #ced4da;
  --disabled: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--main-background);
  color: var(--text-color);
  position: relative;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
/* ##### NAVIGATION ##### */

header {
  background-color: #fff;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  margin: 0 auto;
}
.navigation__link.logo {
  color: var(--nav-color);
  font-size: 2.5rem;
  padding: 0;
}
.navigation__menu {
  list-style-type: none;
  display: flex;
}
.navigation__link,
.navigation__link:link {
  display: inline-block;
  text-decoration: none;
  color: var(--nav-color);
  padding: 2rem 2.5rem;
}
.navigation__link:hover {
  color: var(--nav-hover);
}

/* ##### NAVIGATION END ##### */

/* ##### INDEX PAGE ##### */

.intro {
  margin: 3rem auto;
  line-height: 1.5;
  max-width: 60rem;
  text-align: center;
  color: var(--text-color);
}
.intro__heading {
  text-transform: uppercase;
}
.intro__paragraph {
  margin: 2rem 4rem;
}
.intro__button {
  padding: 1.25rem 3rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--primary);
}
.intro__button:hover {
  background-color: var(--primary-hover);
}
.intro span {
  display: block;
}
/* ##### INDEX FORM  ##### */

.input-wrapper {
  text-align: center;
  margin: 5rem 0;
  display: none;
}
.input-wrapper.active {
  display: block;
}
.input-wrapper h2 {
  font-size: 2.5rem;
  margin: 3rem 0;
}
.input-wrapper__options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}
input[type="radio"] {
  display: none;
}
.option__label {
  cursor: pointer;
  height: 100%;
  color: var(--text-color);
  display: block;
  background: #fff;
  border: 1px solid var(--input-border);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}
input[type="radio"]:checked + .option__label {
  background: var(--info);
  color: #fff;
}
input[type="radio"]:checked + .option__label::after {
  font-family: FontAwesome;
  border: 2px solid var(--input-border);
  content: "\f00c";
  background-color: white;
  color: var(--info);
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.option__image {
  margin: 1rem 0;
  height: auto;
  width: 20rem;
}

form button {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 1rem 0;
  padding: 1.25rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
  background-color: var(--primary);
}
form button:hover,
form button:focus {
  background-color: var(--primary-hover);
}
form button:active {
  transform: translateY(1px);
}
/* ##### END INDEX FORM ##### */

/* ##### REGISTRATION FORM ##### */
.form {
  margin: 3rem auto 5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: relative;
}
.form input {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  color: #495057;
  border: 1px solid var(--input-border);
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.form input:disabled {
  background-color: var(--disabled);
  color: var(--secondary);
}
.form > div {
  margin: 1.5rem 0;
}
.login {
  max-width: 45rem;
  padding: 2rem 1.5rem;
}
/* ##### END REGISTRATION FORM ##### */

/* ##### CREATE CALCULATOR ##### */

.calculator-option {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 2rem;
}

/* ##### END CREATE CALCULATOR ##### */

/* ##### ADMIN PANEL ##### */
.navigation-admin {
  max-width: unset;
  padding: 0 7rem;
}
#sidebar-toggle {
  cursor: pointer;
  color: var(--nav-color);
}
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5rem;
  z-index: 5;
  overflow: hidden;
  background-color: var(--sidebar);
  color: var(--sidebar-text);
  transition: all 0.3s;
}
.sidebar.active {
  width: 25rem;
}
.sidebar-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.sidebar-overlay.active {
  right: 0;
}
.sidebar__user {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--sidebar-border);
  white-space: nowrap;
}
.sidebar__user h4 {
  text-transform: capitalize;
}
.sidebar__user img {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}
.sidebar__menu {
  margin-top: 2rem;
}
.sidebar__menu-link {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.2s;
  color: #c2c7d0;
}
.sidebar__menu-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.sidebar__menu-link span {
  display: inline-block;
}
.sidebar__menu-icon {
  display: inline-block;
  width: 3rem;
  text-align: center;
  font-size: 2.2rem;
  margin-right: 1rem;
}
.sidebar__menu-text {
  text-decoration: none;
  font-size: 1.6rem;
}

main {
  padding: 0 7rem;
}
/* ##### END OF ADMIN PANEL ##### */

/* ##### CALCULATORS ##### */

.calculator__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.calculator {
  position: relative;
  background-color: #fff;
  padding: 4rem 1rem 3rem;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.calculator__image {
  width: 20rem;
}
.calculator__icon {
  display: block;
  font-size: 4rem;
  color: var(--sidebar);
}
.calculator__heading {
  text-transform: capitalize;
  margin: 1rem 0;
}
.calculator__heading a {
  text-decoration: none;
  color: var(--text-color);
}
.calculator__date {
  display: block;
  margin-bottom: 3rem;
}

.calculator__btn {
  display: inline-block;
  text-decoration: none;
  width: 10rem;
  padding: 0.5rem;
  border: none;
  color: #fff;
}
.delete,
.delete:link,
.delete:visited {
  background-color: var(--delete);
}
.delete:hover {
  background-color: var(--delete-hover);
}
.edit,
.edit:link,
.edit:visited {
  background-color: var(--info);
}
.edit:hover {
  background-color: var(--info-hover);
}

/* ##### EDIT CALCULATOR ##### */
.main__heading {
  padding: 1.5rem 0;
  text-transform: capitalize;
}

.edit-icon {
  color: var(--info);
  padding: 1rem;
  cursor: pointer;
}
.delete-icon {
  color: var(--delete);
  padding: 1rem;
}
.form label {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}
.form h3 {
  margin-bottom: 1rem;
}
.form .edit-form__question-container {
  position: relative;
  margin-bottom: 3rem;
}

.edit-form__icons {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}
.active .edit-form__icons,
.disabled .edit-form__icons {
  display: none;
}
.edit-form__option {
  padding: 1.5rem 2rem;
  border: 1px solid var(--input-border);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.edit-form__option > div {
  margin: 1.5rem 0;
}
.edit-form__question-container button,
.edit-form__option button {
  display: none;
}
.edit-form__option .edit-form__icons {
  right: 1rem;
}
.active button {
  display: inline-block;
}
.active ~ .add-option,
.disabled ~ .add-option {
  display: none;
}
#redirect-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 1.25rem 1.5rem;
  border-radius: 1px;
  background-color: var(--primary);
  margin: 3rem 0;
  transition: all 0.2s;
}
#redirect-link:hover {
  background-color: var(--primary-hover);
}
.save {
  background-color: var(--primary);
}
.save:hover,
.save:focus {
  background-color: var(--primary-hover);
}
.cancel {
  background-color: var(--secondary);
}
.cancel:hover,
.cancel:focus {
  background-color: #5a6268;
}
.special {
  margin-left: 1rem;
  background-color: var(--secondary);
}
.special:hover,
.special:focus {
  background-color: #5a6268;
}
.info {
  color: var(--info);
  text-decoration: none;
}
.error {
  display: block;
  color: var(--delete);
}
.error__message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.75rem;
}
.success__message {
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem;
}
#message {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
}
input[type="file"] {
  display: none;
}
.file__label {
  background-color: var(--info);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}
.edit-buttons button {
  width: 100%;
  padding: 1.25rem 0;
  margin: 0;
}
.edit-buttons button:not(.cancel) {
  margin-bottom: 1rem;
}
@media screen and (max-width: 85rem) {
  .navigation__link.desktop {
    display: none;
  }
}
@media screen and (max-width: 55rem) {
  .navigation-admin,
  main,
  .navigation {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }
  .sidebar {
    width: 0;
    opacity: 0;
  }
  .sidebar.active {
    opacity: 1;
  }
}
